# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Xcode workspace user data
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Build products and intermediates
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
*.swiftpm

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# AppCode / JetBrains
.idea/

# macOS
.DS_Store
